@import '../base/globals';
@import '../base/mixins';
@import '../base/layout';

.about__main {
    @extend .app-block;
    background-color: $background-color--primary;
}

.about__img {
    max-height: 40vh;
}

.about__quote-citation {
    text-align: right;
}

.about__text {
    font-size: 1.2em;
}

.about__container {
    background-color: $background-color--quaternary;
    border-radius: 10% 15%;
}

@include breakpoint($screen-sm-min) {
    .about__text {
        text-align: left;
    }
}