@import '../base/globals';

.home {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    background-color: $background-color--primary;
}

.home > * {
    flex: 1 100%;
}

.home > p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.home__content {
    background-color: $background-color--quaternary
}

.container.home__content-container {
    border: 0;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.home__title-banner {
    background: $background-color--quinary;
    h1, h2 {
        color: $font-color--light;
    }
}

.dark-step-line {
    height: .5rem;
    background-color: $background-color--senary;
}

.hilbert-curve {
    background:  url(https://res.cloudinary.com/chaua0927/image/upload/v1570552863/hilbert-poster-images/wmscjhdwe3bydqotbl4y.png);
}

.jumbotron.home__jumbotron {
    display: block;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0;
    padding-left: 10vh;
    padding-right: 10vh;

    h2 {
        margin-bottom: 3vh;
        font-weight: 600;
        font-size: 2.2rem;
    }

    p {
        font-size: 1.6rem;
    }
}

.container-fluid.home__content {
    padding-left: 0;
    padding-right: 0;
}

.col.home__content-col {
    padding: 0;
}

.home__browse-banner {
    position: relative;
    width: auto;
    height: auto;
    background-color: $background-color--secondary;
    text-align: center;
}

.home__browse-banner-content {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: $background-color--quaternary;
    border-top: .5em inset $background-color--secondary;
}

.home__browse-banner-header {
    max-width: 70vw;
}

.home__browse-banner-button-group {
    margin-top: 8vh;
}

.home__browse-banner-button-wrapper {
    display: block;
    margin-top: 5vh;
}

a.home__browse-banner-button {
    width: 40vw;
    min-width: 12rem;
    padding-left: 5vw;
    padding-right: 5vw;
    font-weight: bold;
}

// @include breakpoint($screen-md-min) {
//     .home--browse-banner {
//         height: 45vh;
//     }
// }