@import '../base/globals';
@import '../base/mixins';
@import '../base/layout';

.breadcrumb {
    background-color: transparent !important;
    a {
        color: $font-color__link--dark;
        text-decoration: underline;
    }
}

.movie-poster-view__header {
    text-decoration: underline;
    margin-top: 1em;
}

@include breakpoint($screen-md-min) {
    .movie-poster-view__header {
        margin-top: 0;
    }
}
