@import '../base/globals';
@import '../base/mixins';
@import '../base/layout';

.movie-poster-info__header {
    text-decoration: underline;
    margin-top: 1em;
}

.movie-poster-info__container {
    margin-top: 2em;
}

.movie-poster-info__text {
    font-size: 1.5em;
}

.dv-star-rating {
    margin-top: 1em;
}

@include breakpoint($screen-md-min) {
    .movie-poster-view__header {
        margin-top: 0;
    }

    .movie-poster-view__info-header {
        margin-top: 1rem;
    }

    .movie-poster-view__info-container {
        margin-top: 0;
    }
}