@import '../base/layout';
@import '../base/globals';

.navbar--main {
    background-color: $background-color--primary;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 100%;
}

.nav-logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    max-height: 8vh;
    margin: .5em;

}

.logo-img {
    min-height: 3em;
    max-height: 8vh;
}



nav {
    @extend .initial-flex;
    margin: auto;
    position: relative;
    align-items: center;

    ul {
        @extend .initial-flex;
        margin: auto;
        flex: 1 100%;

        li {
            margin: .5em;
        }
    }
}

@include breakpoint($screen-sm-min) {
    .navbar--main {
        flex-flow: row nowrap;
        justify-content: space-evenly;

        ul {
            flex: 1 auto;
            flex-flow: row nowrap;
            max-width: 33vw;
        }
    }
    .left-group { 
        order: 0; 
        justify-content: flex-start;
    }
    .nav-logo-container { 
        order: 1;
        flex: 1 auto;
        flex-flow: row nowrap;
    }
    .right-group { 
        order: 2; 
        justify-content: flex-end;
    }
}