<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Movie Posters API</title>
        <script type="text/javascript" src="~/dist/bundle.js" async></script>
    </head>
    <body>
        <h1>Movie Posters API</h1>
        <div id="container"></div>
    </body>
</html>