@import './mixins';

/*
########################
Initial Layout
########################
*/

html, body {
    height: 100%;
    width: 100%;
}

#container, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.initial-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#app {
    @extend .initial-flex;
    position: relative;
}

#app > * {
    flex: 1 100%;
}

/*
########################
Breakpoints
########################
*/

//Initial delayout is Mobile First (aka xs): Small tablets (portrait) and large smartphones (landscape)
//For Small tablets (landscape)
$screen-sm-min: 576px;
//For Regular desktops and laptops
$screen-md-min: 768px;
//For Large desktops and laptops
$screen-lg-min: 992px;
//For Extra large screens
$screen-xl-min: 1200px;



@include breakpoint($screen-sm-min) {
    #app {
        aside { flex: 1 auto; }
    }
}

@include breakpoint($screen-md-min) {
    .aside-left { order: 1; }
    #app {
        main { 
            order: 2;
            flex: 2 0px; 
        }
    }
    .aside-right { order: 3; }
    #app {
        footer { order: 4; }
    }
}

// @include breakpoint($screen-lg-min) {

// }

// @include breakpoint($screen-xl-min) {

// }